# Qisutu - Open Source Ticket System
# Copyright (C) 2026 Franziska Steps
# Qisutu - Kim-KI, https://qisutu.de
#
# This file is part of Qisutu.
#
# Qisutu is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Qisutu is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Qisutu. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-FileCopyrightText: 2026 Franziska Steps
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Qisutu Automation Daemon (__QISUTU_INSTANCE__)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__QISUTU_APACHE_USER__
Group=__QISUTU_APACHE_GROUP__
WorkingDirectory=__QISUTU_ROOT__
Environment=QISUTU_HOME=__QISUTU_ROOT__
ExecStart=/usr/bin/perl __QISUTU_ROOT__/bin/qisutu-daemon.pl --sleep 3 --max-jobs 100
Restart=always
RestartSec=5
TimeoutStopSec=30
KillSignal=SIGTERM
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
