[%#
Qisutu - Open Source Ticket System
Copyright (C) 2026 Franziska Steps
Qisutu - Kim-KI, https://qisutu.de

This file is part of Qisutu.

Qisutu is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Qisutu is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Qisutu. If not, see <https://www.gnu.org/licenses/>.

SPDX-FileCopyrightText: 2026 Franziska Steps
SPDX-License-Identifier: AGPL-3.0-or-later
%]

        <section class="qisutu-login" aria-labelledby="qisutu-customer-registration-sent-title">
            <div class="qisutu-login-panel">
                <div class="qisutu-login-brand">
                    <div class="qisutu-login-logo">
                        <img src="[% StaticBase %]/img/logo.png" style="height: 100%;" alt="Qisutu">
                    </div>
                    <div>
                        <h1 id="qisutu-customer-registration-sent-title">[% Translate.CustomerRegistrationSentTitle %]</h1>
                    </div>
                </div>

                <div class="qisutu-login-notice qisutu-login-notice-success">
                    <p>[% Translate.CustomerRegistrationSentText %]</p>
                    <p>[% Translate.CustomerRegistrationSentSpamHint %]</p>
                </div>

                <div class="qisutu-login-links qisutu-login-links-separated">
                    <a class="qisutu-login-link" href="[% LoginURL %]">[% Translate.PasswordBackToLogin %]</a>
                </div>
            </div>
        </section>
