[%#
Qisutu - Open Source Ticket System
Copyright (C) 2026 Franziska Steps
Qisutu - Kim-KI, https://qisutu.de

This file is part of Qisutu.

Qisutu is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Qisutu is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Qisutu. If not, see <https://www.gnu.org/licenses/>.

SPDX-FileCopyrightText: 2026 Franziska Steps
SPDX-License-Identifier: AGPL-3.0-or-later
%]
            [% RAW.AddonSlotAfterHTML %]
        </main>
    </section>
</div>
<script src="[% StaticBase %]/js/qisutu-service-tree.js?v=2026071201"></script>
<script src="[% StaticBase %]/js/qisutu-checklists-admin.js?v=2026071206"></script>
<script src="[% StaticBase %]/js/qisutu-sidebar.js?v=[% SystemVersion %]"></script>
<script src="[% StaticBase %]/js/qisutu-file-input.js?v=[% SystemVersion %]-2026090101"></script>
[% IF UserIsAgent %]
<script src="[% StaticBase %]/js/qisutu-internal-chat.js?v=[% SystemVersion %]-2026090302"></script>
[% END %]
</body>
</html>
